/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #ffffff;
  border-bottom: 2px solid #ff4242;
  padding: 10px 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 1;
}

.App-header .menuWrpr{
  display: block;
  text-align: center;
  margin-top: 20px;
}

.menuWrpr a{
  color: #ff4242;
  text-decoration: none;
  padding: 0 10px;
}

.appLogo{
  padding: 0 10px;
  text-align: center;
}

.appLogo a{
  color: #666666;
  padding: 0 10px;
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

.custom-section{
  height: calc(100vh);
  padding-bottom: 50px;
}

.firstSection{
  text-align: center;
}

.trippinkLogo{
  background-image: url("../Assets/login_bg.jpg");
  width: 300px;
  height: 300px;
  background-size: contain;
  margin: 0 auto;
  margin-top: 50px;
  background-repeat:no-repeat;
  background-position: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.galleryHeaderWrpr{
  margin-top: 70px;
  width: 100%;
  padding-bottom: 20px;
  background-color: #ffffff;
}

.galleryImageContainer{
  width: 100%;
  margin-top: 5px;
  height: 300px;
  background-color: #eaeaea;
}

.galleryTestimonialHeader{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #666666;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  padding-top: 10px;
}

.galleryTestimonial{
  width: 100%;
  margin-top: 5px;
  height: 150px;
  background-color: rgba(255,255,255,0.8);
}

.aboutHeading{
  margin-top: 70px;
  width: 100%;
  margin-bottom: 50px;
  background-color: #eaeaea;
  color: #000000;
}

.aboutDesc{
  width: 100%;
  padding: 10px;
  background-color: #eaeaea;
  color: #000000;
}
.aboutHistory{
  width: 100%;
  background-color: green;
}
.aboutTeam{
  margin-top: 10px;
  width: 100%;
  background-color: blue;
}

.aboutIntership{
  margin-top: 10px;
  background-color: #000000;
  color: #ffffff;
}

.aboutEquipmentWrpr{
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  margin-top: 10px;
}

.aboutContact{
  background-color: #ff4242;
  width: 100%;
  margin-top: 10px;
}
.mapsName{
  width: 47%;
  background-color: #ff4242;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  float: left;
  height: 30px;
  line-height: 30px;
  border-top-right-radius: 10px;
}

.mapsMinimize{
  width: calc(20% - 2px);
  float: right;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #666666;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #666666;
  font-weight: bold;
  border-top-left-radius: 10px;
}
.galleryHeader{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #666666;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  padding-top: 10px;
}

.galleryHeaderScroller{
  width: 100%;
  overflow-y: scroll;
  margin-top: 20px;
}

.galleryHeaderListWrpr{
  width: 150%;
}

.galleryListHeader{
  float: left;
  padding: 5px 10px;
  color: #666666;
  font-size: 18px;
  cursor: pointer;
}

.galleryListHeader.active{
  color: #ff4242;
}