.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.loginContainer{
  width: 90%;
  height: 220px;
  border-radius: 10px;
  background-color: rgba(0,0,255,0.1);
  margin-left: 5%;
  margin-top: calc(50vh - 100px);
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.loginLabel{
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 15px;
  color: #666666;
}

.loginInput{
  width: 100%;
  border: none;
  border-bottom: 1px solid #666666;
  background-color: transparent;
}

.loginButton{
  width: 100%;
  border: 1px solid rgba(0,0,255, 0.5);
  color: rgba(0,0,0,255, 0.1);
  cursor: pointer;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
}
